.homepage-container{
    padding-top: 0px;
    background-color: white;
    font-family: 'Alfa Slab One';
    width: 95%;
    margin: auto;


    
}


.users{
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: fit-content;
    background-color:#0d749c1a;
    /* background-color: #e6e8ef; */
    margin: 0;
    padding: 10px 0 10px 0;
    
       
}
.users h1{
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.client-container, .dealer-container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    padding-top: 0%;
    margin: 30px;

}
    :root {
        --primary-color: #063547; /* Navy Blue */
        --secondary-color: #44b89d; /* Royal Blue */
        --accent-color: #000000; /* Blue */
        --background-color: #ffffff; /* Light Blue */
        --text-color: #0c0c0c; /* Light Sky Blue */
        --background-color2 : #e6e8ef;
        --accent-color2:#0d749c1a;
    }

.client-container .card, .dealer-container .card{
    width: 450px;
    position: relative;
    height: 300px;
    margin: 30px 10px;
    background-color:white;
    border: 0px solid var(--secondary-color);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0.5px 10px #e6e6e6; */
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgb(200, 200, 200);
    border-radius: 20px;


}
.client-container .card .imgBx, .dealer-container .card .imgBx{
    position: relative;
    width:350px;
    height: 40px;
    top:-60px;
    left: 10%;
    line-height: 15px;
}

.client-container .card .imgBx img,  .dealer-container .card .imgBx img{
    max-width: 80%;
    border-radius: 10px;
    height: 60px;
}

.imgBx:hover img{
    transform: scale(1.1);
}
.button-container {
    text-align: center;
    margin-top: 20px;
    display:inline;
}
.register-button{
    font-size: 13px;
    font-weight: 500;
    bottom: 20px;
    transform: translateX(100%); /* Center the button horizontally */
    height: 35px;
    width:  25%;
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute; 
}
.bookcategories-container{
    text-align: center;
    padding-top: 20px;

}

  
.all-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-category {
    
    margin: 10px;
    text-align: center;
    width: 100%;
    margin: 20px;
    display: flex; /* Adjust spacing between categories */

  }
  .category{
    width: 25%;
    margin: 5px;

  }
  .category img {
    width: 70px; /* Adjust according to your preference */
    height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);

  }
  
 .aboutus-container{
    padding: 50px 200px 50px 25%; /* top, right, bottom, left */
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--accent-color2);

 }
 
 .aboutus-container img{
    width: 250px;
    height:250px;
 }
 
 .subcont-text{
    width: 500px;
    text-align: justify;
    padding-left: 25px;
    color: var(--text-color);
 }

 .button{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    height: 35px;
    width:  150px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--secondary-color);
    color: #ffffff;
    cursor: pointer;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
 }
 .reviews-container{
    text-align: center;
    padding: 50px 0 25px 0; 
    width: 100%;
    /* display: flex; */
    align-items: center;

 }
 .review-subcontainer{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
 }
 .wholereview{
    width: 40%;

 }
 .review{
    background-color: #063547;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
 }
 .img-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
 }
.profile{
    background: #ffffff;
    display: flex;
    justify-content:flex-start;
    margin-left: 50px;
    align-items: center;

}

.login-text {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    text-align: center; /* Adjust alignment as needed */
    margin-top: 20px; /* Add margin to separate from the button */
    font-size: 14px; /* Adjust font size as needed */
    color: #555; /* Adjust color as needed */
    bottom: 5px;
    position: absolute;
    left: 32%;
}

.login-text a {
    color: var(--primary-color); /* Adjust link color as needed */
    text-decoration: none; /* Remove underline from the link */
}

.login-text a:hover {
    text-decoration: underline; /* Add underline on hover */
}
 
/*-------------------Products--------------------------------*/
.products-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    /* display: flex; */


}
.filters-container{
    width: 25%;
    height: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: var(--accent-color2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    position: static;




}
.filters-container h3{
    text-align: left;
    margin: 10px;
}

.main-category{
    padding: 5px;
}


    



.main-category p{
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 17px;


}
.sub-categories {
    display: none;
    margin-left: 20px; /* Indentation */
}

.sub-categories ul{
    margin-left: 25px; 
    font-weight: 400;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
}
.sub-categories li{
    
    padding-bottom: 10px;
}


.sub-categories ul ul {
    margin-left: 20px; 
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;


}

.maincontent{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.slideshow-container{
    width: 95%;
    background-color: var(--accent-color2);
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.bookshow-container{

    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: var(--accent-color2) 1px solid;
    border-radius: 10px;
}

/* .books-container{
    background-color: var(--accent-color2);

} */
.booksheader{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--accent-color2) 0.2px solid;

    
}
.search-bar{
    height: 30px;
    border-radius: 30px;
    color: var(--primary-color);
    width: 250px;
    border-color: var(--primary-color);
}
.fa-magnifying-glass {
    transform: translateY(-50%);
    position: absolute;
    right: 10px; /* Adjust the distance from the right side */
    top: 50%; 
}

.filter-bar{
    margin-left: 10px;
    height: 25px;
    border-radius: 5px;
    width: 100px;


}






.all-books{
    background-color: var(--accent-color2);
    margin: 10px;

}
/* Adjust the width of .book to fit three books in a row */
.book {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px); /* Three books in a row with 20px margin */
    float:left;
    text-align: center;
    /* margin-right: 20px; /* Margin between books */
    /* margin-bottom: 20px; Margin at the bottom of books */
}



/* Clear fix to prevent floating issues */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.book-img{
    width: auto;
    background-color: transparent;
}
.book-img img{
    width: auto;
    height: 120px;

}

.star {
    color: goldenrod; /* Set star color */
}

.half-star {
    color:goldenrod;
   /* color: linear-gradient(to right, gold 50%, white 50%); Yellow-transparent gradient */
}
.book p{
    font-size: 12px;
}




