
.dashboard-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px;
    background-color: var(--accent-color2);


}
.reports-container {
    display: grid;
    width:73%;
}
.welcome-container{
    background-color: var(--background-color);
    width: 99%;
    border:  solid #063547 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: auto;
    margin: 20px;
    border-radius: 20px;
   
    
}
.welcome-text{
    width: 60%;
    padding-left: 10px; 
}
.welcome-text h4{
    padding-bottom: 10px;
    font-size: 35px;
    color: var(--primary-color);
}
.welcome-text p{
    font-weight: lighter;
    color: var(--primary-color);
    font-style: italic;
}
.welcome-image{
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: end;
}
.welcome-image img{
    width: 180px;
    height: auto;

}

/*-------------Orders-------------------*/
.order-container{
    background-color: var(--background-color);
    padding: 10px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    width: 99%;
}
.filter{
    text-align: right;
    position:static;

}
.filter  select{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.filter select option{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.filter select option:checked{
    color: var(--primary-color);
    background-color: var(--background-color);
}
.items-container{
    border: solid var(--accent-color2) 1px;
}
.row-header{
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color2);
    padding: 2px;
    padding-right: 0;
    align-items: center;
    height: 35px;
    border-radius: 5px;

}
.row-header .name-cell{
    width: 50%;

}
.cell{
    width: 15%;
    font-size: 15px;
    /* border-right: var(--primary-color) 1px solid; */

}

.suggestions{
    width: 100%;
    background-color: var(--accent-color2);
    padding: 15px;

}
.suggestions h4{
    padding: 10px;
}
.book-suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--accent-color2);
}
.book{
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 18%;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    
}
.book img{
    width: 100px;
}
.book p{
    font-size: 12px;
}
/*Task panel*/
.task-panel{
    flex: 0 0 25%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /* padding: 20px; */
    background-color: var(--background-color);
    display: flex;
    flex-direction:column;

}
.profile-container{
    margin-left: 2.5%;
    width:95%;
    background-color: var(--accent-color2);

}
.user-details{
    background-color: var(--accent-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 0;

}
.user{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user i{
    color: var(--primary-color);
    width: 20px;
    height: 0%;
}
details{
    display: flex;
    align-items: center;
}
.double-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 50px;
    padding-top: 20px;

}
.detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items:center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;


}
.detail p{
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-weight: lighter;
}

.notifications{
    margin-top: 10px;
    margin-left: 2.5%;
    width:95%;
    height: 250px;



}
.notifications-container{
    position:relative;    /* background-color: var(--background-color); */
    justify-content: space-around;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--accent-color2);
    margin-top: 0;

   
    
}
.notifications-container h4{
    padding:5px 10px;
    font-weight: bold;

}
.notification{
    background-color:var(--background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    height: 50px;
    align-items: left;
    margin-bottom: 10px;

}

.notification h5{
    font-weight: bold;
    padding: 5px 5px 5px 10px;
}
.notification p{
    font-weight: lighter;
    font-size: 15px;
    padding: 5px;
    padding-top: 0;
}