
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: normal;
}

.poppins-light {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
}

.poppins-regular {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
}

.poppins-semibold {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}

.poppins-extrabold {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: normal;
}

.poppins-black {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
}

.poppins-thin-italic {
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: italic;
}

.poppins-extralight-italic {
font-family: "Poppins", sans-serif;
font-weight: 200;
font-style: italic;
}

.poppins-light-italic {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: italic;
}

.poppins-regular-italic {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: italic;
}

.poppins-medium-italic {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: italic;
}

.poppins-semibold-italic {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: italic;
}

.poppins-bold-italic {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: italic;
}

.poppins-extrabold-italic {
font-family: "Poppins", sans-serif;
font-weight: 800;
font-style: italic;
}

.poppins-black-italic {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: italic;
}
  
.dashboard-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
    background-color: var(--accent-color2);

}
.reports-container {
    display: grid;
    width: 73%; /* Adjust width to accommodate margins */
}
.welcome-container{
    background-color: var(--background-color);
    width: 99%;
    border:  solid #063547 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: auto;
    margin: 20px;
    border-radius: 20px;
   
    
}
.welcome-text{
    width: 60%;
    padding-left: 10px; 
}
.welcome-text h4{
    padding-bottom: 10px;
    font-size: 35px;
    color: var(--primary-color);
}
.welcome-text p{
    font-weight: lighter;
    color: var(--primary-color);
    font-style: italic;
}
.welcome-image{
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: end;
}
.welcome-image img{
    width: 180px;
    height: auto;

}

/*-------------Orders-------------------*/
.order-container{
    background-color: var(--background-color);
    padding: 10px;
    max-height: 250px;
    margin: 10px;
    border-radius: 15px;
    width: 99%;
}
.filter{
    text-align: right;
    position:static;

}
.filter  select{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.filter select option{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.filter select option:checked{
    color: var(--primary-color);
    background-color: var(--background-color);
}
.items-container{
    border: solid var(--accent-color2) 1px;
    max-height: 250px;
    min-height: auto;
   


}
.viewproducts-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: var(--accent-color2); */
    background-color: var(--background-color);


}




 .viewproducts-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 95%;
    margin: 5px auto;
    padding-left: 20px;

 }
 .viewproducts-header h4{
    width: 100%;
    margin: 15px 0px;
    font-size: 25px;
 }

 .right-filter{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    /* justify-content: right; */
 }
 .add-button{
    font-size: 13px;
    font-weight: 500;
    color: white;
    height: 25px;
    width:  max-content;
    border:none;
    cursor: pointer;
    border-radius: 8px;
    background: var(--primary-color);
    cursor: pointer;
    transition: .3s ease-in-out;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    }

    .search-bar{
        height: 30px;
        border-radius: 30px;
        color: var(--primary-color);
        width: 250px;
        border-color: var(--primary-color);
        padding-left: 20px;
    }
    .fa-magnifying-glass {
        transform: translateY(-50%);
        position: absolute;
        right: 10px; /* Adjust the distance from the right side */
        top: 50%; 
    }
    
    .filter-bar{
        margin-left: 10px;
        height: 25px;
        border-radius: 5px;
        width: 100px;
    
    
    }
    

    .allProducts-container{
        width: 98%;
        margin: auto;
    }


.row-header{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    /* background-color: var(--accent-color2); */
    border-bottom: #063547 2px solid;
    padding: 2px;
    padding-right: 0;
    align-items: center;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: sticky;


}


.row-header1{
    display: flex;
    flex-direction: row;
   background-color: var(--background-color);
    border-bottom: #063547 2px solid;
    padding: 20px;
    align-items: center;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: sticky;
    width: 98%;
    margin: auto;



}
.rows{
    overflow-y: auto;
    max-height: 150px;
    min-height: auto;
    scrollbar-width:thin;
    scrollbar-color: var(--accent-color);
}
    
.order-rows{
    width: 99%;
    overflow-y: auto;
    max-height: max-content;
    min-height: auto;
    scrollbar-width:thin;
    scrollbar-color: var(--accent-color);
    padding: 0 10px;
    margin: auto;

}




.row{
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color2);
    padding: 2px;
    padding-right: 0;
    align-items: center;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-right:  5px;
}
.row-header .name-cell{
    width: 50%;

}

.row .ordername-cell{
    width: 35%;

}
.row-header1 .ordername-cell{
    width: 35%;
    padding-left: 20px;

}
.cell{
    width: 15%;
    font-size: 15px;
    /* border-right: var(--primary-color) 1px solid; */

}

.row .name-cell{
    width: 50%;

}
.cell1{
    width: 10%;
    font-size: 15px;
    padding-left: 5px;
    text-align: center;
    /* border-right: var(--primary-color) 1px solid; */

}
.row-header1 .bigger-cell{
    width: 12%;
    font-size: 15px;
    text-align: left;
    padding: auto;
}

.bigger-cell{
    width: 12%;
    font-size: 15px;
    padding-left: 5px;
    text-align: left;
    padding: auto;
    text-align: left;
    padding-left: 10px;


}
.bigger-cell2{
    width: 20%;
    font-size: 15px;
    padding-left: 5px;
    text-align: center;
    padding: auto;
    text-align: justify;
    padding-left: 10px;


}
.icon-cell{
    padding: 10px;
}
.small-cell{
    width: 5%;
    font-size: 15px;
    padding-left: 5px;
    text-align: center;
}
.row .update-button{
    font-size: 13px;
    font-weight: 500;
    color: white;
    height: 25px;
    width:  max-content;
    border:none;
    cursor: pointer;
    border-radius: 8px;
    background: var(--primary-color);
    cursor: pointer;
    transition: .3s ease-in-out;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.suggestions{
    width: 100%;
    background-color: var(--accent-color2);
    padding: 15px;

}
.suggestions h4{
    padding: 10px;
}
.book-suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--accent-color2);
}
.book{
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: auto;
    align-items: center;
    text-align: center;
    
}
.book-img{
    width: auto;
    background-color: transparent;
}
.book-img img{
    width: auto;
    height: 120px;

}

.star {
    color: goldenrod; /* Set star color */
}

.half-star {
    color:goldenrod;
   /* color: linear-gradient(to right, gold 50%, white 50%); Yellow-transparent gradient */
}
.book p{
    font-size: 12px;
}
/*Task panel*/
.task-panel{
    width: 25%; /* Adjust width to accommodate margins */
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /* padding: 20px; */
    background-color: var(--background-color);
    display: flex;
    flex-direction:column;

}
.profile-container{
    margin-left: 2.5%;
    width:95%;
    background-color: var(--accent-color2);
    height: 45%;


}
.user-details{
    background-color: var(--accent-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 0;
    height: 100%;

}
.user{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user i{
    color: var(--primary-color);
    width: 20px;
    height: 0%;
}
details{
    display: flex;
    align-items: center;
}
.double-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 50px;
    padding-top: 20px;

}
.detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items:center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;


}


.detail p{
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-weight: lighter;
}

.notifications{
    margin-top: 10px;
    margin-left: 2.5%;
    width:95%;
    height: 55%;



}
.notifications-container{
    position:relative;    /* background-color: var(--background-color); */
    justify-content: space-around;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--accent-color2);
    margin-top: 0;

   
    
}
.notifications-container h4{
    padding:5px 10px;
    font-weight: bold;

}
.notification{
    background-color:var(--background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    height: 50px;
    align-items: left;
    margin-bottom: 10px;

}

.notification h5{
    font-weight: bold;
    padding: 5px 5px 5px 10px;
}
.notification p{
    font-weight: lighter;
    font-size: 15px;
    padding: 5px;
    padding-top: 0;
}

/************************book review********************/
.stars{
    height: max-content;
    padding-bottom: 40px;
    margin: auto;
    justify-content: space-around;

}

.star-widget{
    text-align: center;
    left: 0;
    justify-content: space-around;

}
.star-widget label {
    font-size: 30px;
    color: var(--primary-color);
    padding: 10px;
    float:right;
    transition: all 0.2s ease;


}
/* Hide the radio buttons */
.star-widget input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #fd4;
}

input:checked~label {
    color: #fd4;
}

input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
.book-selection{
    width: 100%;
    background-color: var(--accent-color2);
    height: 88vh;

}

.book-selection .allProducts-container{
    top: 50%;
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: white;
    height: auto;
}
.book-selection .allProducts-container h4{
    text-align: center;
    margin: auto;
    padding: 30px 0;
    font-size: 20px;
    color: var(--primary-color);
}
.product-details h4{
    text-align: left;
    margin: auto;
    padding: 30px 0;
    font-size: 20px;
    color: var(--primary-color);
}


.book-selection  .allProducts-container .row .ordername-cell,
.book-selection  .allProducts-container .row-header1 .ordername-cell{
    width: 100%;
    cursor: pointer;

}
.book-selection  .allProducts-container .row-header1 .ordername-cell:hover{
    text-decoration: underline 1px solid var(--primary-color);
}










