* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One';
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #063547; /* Navy Blue */
    --secondary-color: #44b89d; /* Royal Blue */
    --accent-color: #000000; /* Blue */
   --background-color: #ffffff; /*  Light Blue */
    --text-color: #0c0c0c; /* Light Sky Blue */
    --background-color2 : #e6e8ef;
    --accent-color2:#0d749c1a;
    /* --accent-color2:#ffffff;
    --background-color: #0d749c1a; Light Blue */


}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}


/*--------------------------------Header.php----------------------------------------------*/
/*navbar*/















/*--------------------------------productsform----------------------------------------------*/

.productsadd-container{
        width: 85%;
        margin: auto; 
        display:flex; 
        flex-direction: column;  
        justify-content: center;
        align-items: center;        
    }    
   
   

    .form {
        /* Adjust the form width and margin as needed */
        width: 85%;
        margin: auto;
    }
    
.products-container{
            margin-top: 82px;
            background: #e6e8ef;
            border-top-right-radius: 10px;
            border-radius: 20px;
        
        
        }
.products-container h4{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;

}
.scroll-sect{
    justify-content: flex-end;
    display: flex;
    gap: 50%;;
}    

.button{
    margin: 30px 50px 30px 40px;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    width:  150px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--secondary-color);
    color: #ffffff;
    cursor: pointer;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
 }

 .dropbtn{
    background: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    color: black;
    height: 38px;
    margin-left: 5%;
    width: 90%;
    padding:0 10px 0 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: .2s ease;
    margin-bottom: 15px;
 }
 

 .radio-container {
    display: flex;
    flex-wrap:initial;
    flex-direction: column;
    align-items: left;
    justify-content: start;


}
.rdlbutton{
    margin-left: -00px;

}

/* Style for radio button labels */


/* Style for radio buttons */
/* .radio-container input[type="radio"] {
    display:list-item;
} */

/* Style for custom radio buttons */


/* Show dot when radio button is checked */
.radio-container input[type="radio"]:checked + .radio-custom::after {
    opacity: 1;
}

    /* .step-container {
        display: none;
      }
      .step-container.active {
        display: block;
      } */

      .step-container {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
    .image-container {
        width: 50%;
        margin-bottom: 10px;
        text-align: center;
        position: relative;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .front-back-container{
        width: 100%;
        display: flex;
        flex-direction: row;

        
    }
    
    .image-container .regular-label{
        text-align: center;
        position: absolute;
        top: 10px;
        right: 10%;
        transform: translateX(-50%);
    }
    .image-container h4 {
        text-align: center;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    
    .img-label {
        position: absolute;
        font-size: medium;
        bottom: 65%;
        left: 42%;
        transform: translateX(-50%);
        z-index: 1;
        cursor: pointer;
        color: #000; /* Initial label color */
    }
    
    .img-label:hover {
        font-weight: bolder;
    }
    
    input[type="file"] {
        display: none;
    }
    
    .book-images {
        border-radius: 20px;
        width: 80%;
        height: 80%;
        display: block;
        position: absolute;
        background-size:50%;       
        background-repeat: no-repeat;
        background-image: url('/Images/Illustrations/upload-image.svg'); /* Default background image */
        background-position-x: 60%;
        background-position-y:40%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; /* Center the image inside the container */
    }
    
    .image-container::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%; /* Maintain aspect ratio for square */
        cursor: pointer;
        border-radius: 20px;
    }
    
    .book-images:hover::before {
        background-color: white; /* Background color on hover */
    }
    
    input[type="file"]:valid {
        border: 2px solid green;
        background-color: #f0f8ff; /* Light blue */
    }
    


    /* Dashboard*/
  
    
    .dashboard-container{
        display: flex;
        width: 98%;
        justify-content: space-around;
        margin: 10px;
    
    }
    .reports-container {
        display: grid;
        width:73%;
        background-color: var(--background-color);

    
    }
    .welcome-container{
        margin: 10px 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .welcome-container h4{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        font-weight: 400;

    }
    .welcome-container i{
        color: var(--primary-color);
    }
    .two-reports{
        background-color: var(--accent-color2);
        border-radius: 20px;
        height: 200px;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .sales-report{
        width:60%;
        background-color: var(--accent-color2);
        /* background-color: var(--accent-color2); */
        padding: 10px;
        margin: 0;
        border-radius: 10px;
        height: 100%;



    }
    .sales-report h4{
        padding:5px 5px 5px 20px;
        /* background-color: var(--background-color);
        width: fit-content; */
    }
    
    .sales-report img{
        width:98%;
        height: 90%;
    }
    
    .report2{
        width: 35%;
        padding: 10px;
        border-radius: 10px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;



    }
    .report2 h4{
        padding:0 20px 5px 20px;

    }

    .report{
        width:45%;
        height: 45%;
        background-color: var(--background-color);
        align-items: center;
    
    }
    .report h4{
        font-size: 20px;
        text-align: left;
        font-weight:100;

    }
    .products{
        /* background-color: var(--background-color); */
        justify-content: space-around;
        height: 80%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

       
        
    }
    .product{
        background-color:#0d749c1a;
        height: 20%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5px;
        height: 30%;
        align-items: center;

    }
    .product h4{
        font-weight: normal;

    }
    /* .product h5{
        padding: 10px;

    } */
    
  
    /*Task panel*/
    .task-panel{
        flex: 0 0 25%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        /* padding: 20px; */
        /* background-color: var(--secondary-color); */
    }
    .task-panel h3{
        padding: 10px;
        font-weight: 400;
        font-size: 15px;
    }

    .calendar-section{
        height: 250px;
        background-color: var(--accent-color2);
        margin: 10px;
        border-radius: 10px;
        width: 100%;


    }

    .pending-task{
        margin: 10px;
        height:200px;
        background-color: var(--accent-color2);
        border-radius: 10px;
    }

    .notifications-container{
        height: 100px;
        margin: 10px;
        background-color: var(--accent-color2);
        border-radius: 10px;


    }
    /* .top-reports{
        width:90%;
        background-color: white;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }
    */
  